/** Fonts **/
$font-size-default: 16px;
$font-family-primary: 'Montserrat', sans-serif;
$font-family-secondary: 'PT Sans', sans-serif;
$font-family-third: 'Galdeano', sans-serif;

/** Colors **/
$color-primary-blue: #0065FC;
$color-secondary-white: #DEEBFF;
$color-secondary-grey: #D9D9D9;

$color-danger:#d8414dce;
$color-success : #1b9b1bb2;

$color-black: #222222;
$color-blue: #155166;
$color-orange: #ed771d;
$color-green:#1b9b1b;
$color-red: #d43b0c;
$color-darkred : darkred;
$color-violet: rgb(60,0,40);
$color-black: #000000;
$color-white : #FFFFFF;
