.header-wrapper{
    width: 100%;
    
    img{
        height: 29px;
        width: 61px;
        left: 157px;
        top: 21px;
        border-radius: 0px;
        margin: 0 auto;
    }

    nav{
        ul{
            display: flex;
        }
    }
}